body {
    text-align: left;
    margin: 0;
}

.main-text-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-text {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.date {
    font-size: 150%;
}

.names {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 1em;
    gap: 1.5em;
}

.names>div>p:first-child {
    margin-bottom: 0.5em;
}


/* COLORS */
body, a {
    background-color: #fffcee;
    color: #5d5442;
}


/* LAYOUT */
.centered {
    text-align: center;
}

.centered .names {
    flex-direction: row;
}

.centered.names>div {
    padding: 0.5em;
}

.map-wrapper {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.rest-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    max-width: 900px;
    margin: auto;
}

.contact-person {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}



/* TYPOGRPHY */
.arima-600 {
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.arima-400 {
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
p {
  margin: 0;
  margin-bottom: 0.2em;
  line-height: 1.4;
}
.small{
    font-size: 80%;
}
body {
    font-size: 16px;
}
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}
@media (min-width: 900px) {
    body {
        font-size: 20px;
    }
}
@media (min-width: 1200px) {
    body {
        font-size: 22px;
    }
}
@media (min-width: 1500px) {
    body {
        font-size: 24px;
    }
}